

body{
	background-color: rgb(204, 204, 204)
	
}
.playlist{
	paddong:10px;
}
.playlist h1,h2{
	text-align:center;
	margin-top:1px;
}
#list{
	background-color:rgb(255,255,255);
	border:1px solid black;
	border-radius:5px;
	line-height:25px;
}
#list li{
	list-style-type:none;
	text-align:left;
	margin-left:-25px;
}
#list a{
	text-decoration-line:none;
	color:black;
}
.playing{
	width:80%;
	margin:auto;
	background-color:rgb(255,255,255);
	padding:10px;
	border:1px solid black;
	border-radius:5px;
}
.player
	background-color:rgb(255,255,255);
	width:100%;
	padding:5px;
	border-radius:5px;
}
